# Node / React
node_modules/
# build/
# dist/

# Environment variables
.env
.env.local
.env.*.local

# IDE / OS files
.vscode/
.DS_Store
Thumbs.db

# Logs and coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
